body
{
background-color:#eaf783 ;
}

.heading
{
color: #2101f0;
font-family: 'Edu NSW ACT Foundation', cursive;
font-weight: bold;
}

.heading h4
{
    font-family: 'Lobster', cursive;
    color:#eb050c ;
    letter-spacing: 2px;
}

.main_div button
{
margin-top: 20px;
letter-spacing: 5px;
}

.copy_right_footer
{
 position: fixed;
 bottom:0;
 background-color: #f3be39;
 color:darkred;
 font-family: 'Pacifico', cursive;
 text-align: center;
 width:100%;
 line-height:3;
 font-size:20px;
}